<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }} - Certy</title>

  <link rel="shortcut icon" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/icons/bootstrap-icons.min.css">

  <!-- This needs to run before the DOM renders -->
  <script src="/static/js/theme.js"></script>
</head>
<body class="d-flex flex-column vh-100">
  {% include "fragments/header.html" %}
  {% include "fragments/title.html" %}
  <div class="flex-shrink-0 container mb-5 p-3">
    {% if cert %}
    {% include "fragments/breadcrumbs.html" %}
    {% endif %}
    {% block content %}{% endblock %}
  </div>
  {% include "fragments/footer.html" %}

  <!-- Not required for core functionality, but adds a few nice helpers  -->
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
