{% extends "templates/form.html" %}

{% block title %}Export PKCS#12{% endblock %}

{% block header %}
<div class="title">Export PKCS#12</div>
<div class="desc">
  Export {{ cert.X509.Subject.CommonName }} and its private key in PKCS#12 format
</div>
{% endblock %}

{% block content %}
<div class="muted">
  PKCS#12 files include both the certificate and its private key. To enhance security, the file is encrypted with a passphrase that will be required on import.
</div>
{{ block.Super }}
{% endblock %}

{% block fields %}
{% import 'templates/macros/form.html' input %}
{{ input(form, "Password", "Password", "e.g. SuperSecret123!", true) }}
{% endblock %}
