{% extends "base.html" %}

{% block content %}

{% macro certname(name) %}
  {{ name.CommonName }}
  {% if name.Organization %}
    &mdash;
    <span class="text-muted">{{ name.Organization[0] }}</span>
  {% endif %}
  {% if name.Country or name.Province or name.Locality %}
    <div class="text-muted">{{ combineAddress(name) }}</div>
  {% endif %}
{% endmacro %}

{% macro action(cert, name, label) %}
  <form method="post" action="/action?cert={{ cert }}&action={{ name }}">
    <button type="submit" class="btn btn-primary w-100">
      {{ label }}
    </button>
  </form>
{% endmacro %}

<div class="row g-4">
  <div class="col-md-9">
    <div class="d-grid gap-4">
      {% include "fragments/cert_view/info.html" %}
      {% if cert.CanSign() %}
        {% include "fragments/cert_view/children.html" %}
      {% endif %}
    </div>
  </div>
  <div class="col-md-3">
    <div class="d-grid gap-4">
      {% include "fragments/cert_view/export.html" %}
      {% include "fragments/cert_view/actions.html" %}
    </div>
  </div>
</div>

{% endblock %}
