{% extends "templates/base.html" %}

{% block title %}{{ cert.X509.Subject.CommonName }}{% endblock %}

{% block header %}
<div class="title">{{ cert.X509.Subject.CommonName }}</div>
<div class="desc">
  View and manage this certificate and its children
</div>
{% endblock %}

{% block content %}
{% macro certname(name) %}
  {{ name.CommonName }}
  {% if name.Organization %}
    <br />
    <span class="muted">{{ name.Organization[0] }}</span>
  {% endif %}
{% endmacro %}
<div>
  <div class="title">
    Certificate Information
    <div class="desc">
      The table below lists the properties of the X.509 certificate below.
    </div>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th>SHA-256 Fingerprint:</th>
        <td title="{{ cert.Fingerprint }}">
          {{ cert.Fingerprint|truncatechars:20 }}&mldr;
        </td>
      </tr>
      <tr>
        <th>Common Name:</th>
        <td>{{ certname(cert.X509.Subject) }}</td>
      </tr>
      <tr>
        <th>Issued By:</th>
        <td>{{ certname(cert.X509.Issuer) }}</td>
      </tr>
      <tr>
        <th>Valid from:</th>
        <td>{{ cert.X509.NotBefore | formatDate }}</td>
      </tr>
      <tr>
        <th>Valid to:</th>
        <td>
          {{ cert.X509.NotAfter | formatDate }}
          <span class="muted">
            ({{ cert.X509.NotAfter.Sub(cert.X509.NotBefore) | formatDuration }})
          </span>
        </td>
      </tr>
      <tr>
        <th>Can sign certificates:</th>
        <td>
          {% if cert.CanSign() %}yes{% else %}no{% endif %}
        </td>
      </tr>
      {% if cert.X509.DNSNames %}
        <tr>
          <th>SANs:</th>
          <td>
            {% for n in cert.X509.DNSNames %}
              <div>{{ n }}</div>
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div>
  <div class="title">
    Export
    <div class="desc">
      Choose a format below to export the certificate and / or private key.
    </div>
  </div>
  <div class="buttons">
    {% import 'templates/macros/action.html' action %}
    {{ action(path, "export_cert_pem", "Cert (PEM)") }}
    <a href="/pkcs12?cert={{ path }}" class="button primary">
      PKCS#12
    </a>
    {% if cert.Parents %}
      {{ action(path, "export_chain_pem", "Chain") }}
    {% endif %}
    {{ action(path, "export_pub_key", "Pubkey") }}
    {{ action(path, "export_priv_key", "Priv. Key") }}
  </div>
</div>
{% if cert.CanSign() %}
  <div>
    <div class="title">
      Child Certificates
      <div class="desc">
        Certificates signed by this one are displayed below.
      </div>
    </div>
    {% import 'templates/macros/table.html' ref_table %}
    {{ ref_table(path, cert.Children) }}
  </div>
{% endif %}
{% endblock %}
