{% extends "form.html" %}

{% block fields %}
{% import 'macros/form.html' checkbox, domains, duration, input %}
{% if cert %}
  {% set placeholder = "e.g. Intermediate CA, www.example.com" %}
{% else %}
  {% set placeholder = "e.g. John Smith's Root CA" %}
{% endif %}

<div class="row g-4 mb-4">
  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-header">Basic</div>
      <div class="card-body">
        {{ input(form, "CommonName", "Common name", placeholder, true, true) }}
        {{ duration(form, "Validity", "Validity", true) }}
        {{ input(form, "KeySize", "Key size", "e.g. 2048", true, false, "", "number") }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-header">Extensions</div>
      <div class="card-body">
        {{ domains(form, "SANs", "SANs (Subject Alternative Names)") }}
        <div class="h6">Key Usage</div>
        {% if !cert.Parents || cert.X509.MaxPathLen %}
          {{ checkbox(form, "CanSign", "Can sign certificates (Certificate Authority)") }}
          {{ checkbox(form, "AllowChaining", "Allow chaining (signing intermediates)")}}
        {% endif %}
        {{ checkbox(form, "CodeSigning", "Code signing")}}
        {{ checkbox(form, "ClientAuth", "Client auth")}}
        {{ checkbox(form, "ServerAuth", "Server auth")}}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-header">Optional Information</div>
      <div class="card-body">
        {{ input(form, "Organization", "Organization", "e.g. Your Name or MyCompany Ltd.") }}
        {{ input(form, "OrganizationalUnit", "Organizational unit", "e.g. Research Division") }}
        {{ input(form, "Country", "Country code", "e.g. US, CA, etc.") }}
        {{ input(form, "Province", "Province or State", "e.g. Alberta, Alaska, etc.") }}
        {{ input(form, "Locality", "City", "e.g. Atlanta, Toronto, etc.") }}
        {{ input(form, "StreetAddress", "Street address", "e.g. 1234 Park Way") }}
        {{ input(form, "PostalCode", "Postal or zip code", "e.g. 12345") }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
