{% extends "templates/form.html" %}

{% block title %}New Certificate{% endblock %}

{% block header %}
<div class="title">New Certificate</div>
<div class="desc">
  Create a new
  {% if cert %}
    certificate signed by {{ cert.X509.Subject.CommonName }}
  {% else %}
    root certificate
  {% endif %}
</div>
{% endblock %}

{% block fields %}
{% import 'templates/macros/form.html' checkbox, domains, duration, input %}
{% if cert %}
  {% set placeholder = "e.g. Intermediate CA, www.example.com" %}
{% else %}
  {% set placeholder = "e.g. John Smith's Root CA" %}
{% endif %}
<div class="double">
  {{ input(form, "CommonName", "Common name", placeholder, true) }}
</div>
<div class="elements sm">
  <div class="title">
    Information
    <div class="desc">
      The information in this section is optional, though recommended.
    </div>
  </div>
  <div class="double">
    {{ input(form, "Organization", "Organization", "e.g. Your Name or MyCompany Ltd.") }}
    {{ input(form, "OrganizationalUnit", "Organizational unit", "e.g. Research Division") }}
  </div>
  <div class="double">
    {{ input(form, "Country", "Country code", "e.g. US, CA, etc.") }}
    {{ input(form, "Province", "Province or State", "e.g. Alberta, Alaska, etc.") }}
  </div>
  <div class="double">
    {{ input(form, "Locality", "City", "e.g. Atlanta, Toronto, etc.") }}
  </div>
  <div class="double">
    {{ input(form, "StreetAddress", "Street address", "e.g. 1234 Park Way") }}
    {{ input(form, "PostalCode", "Postal or zip code", "e.g. 12345") }}
  </div>
</div>
<div class="elements sm">
  <div class="title">Period</div>
  <div class="double">
    {{ duration(form, "Validity", "Validity") }}
  </div>
</div>
<div class="elements sm">
  <div class="title">Constraints / Usage</div>
  {{ checkbox(form, "CanSign", "Can sign certificates (Certificate Authority)") }}
  {{ checkbox(form, "CodeSigning", "Code signing")}}
  {{ checkbox(form, "ClientAuth", "Client auth")}}
  {{ checkbox(form, "ServerAuth", "Server auth")}}
</div>
<div class="elements sm">
  <div class="title">Extensions</div>
  <div class="double">
    {{ domains(form, "SANs", "SANs (Subject Alternative Names)") }}
  </div>
</div>
{% endblock %}
