{% extends "form.html" %}

{% block content %}
<p class="text-muted">
  PKCS#12 files include both the certificate and its private key. To enhance security, the file is encrypted with a passphrase that will be required on import.
</p>
{{ block.Super }}
{% endblock %}

{% block fields %}
{% import 'macros/form.html' checkbox, input %}
{{ input(form, "Password", "Password", "e.g. SuperSecret123!", true) }}
{{ checkbox(form, "UseLegacy", "Use legacy hash and cipher for older devices")}}
{% endblock %}
