{{define "content"}}
<div class="heading">Root CAs Currently Registered</div>
<table class="table">
  <thead>
    <tr>
      <th>Common Name</th>
      <th>Issued</th>
      <th>Expires</th>
    </tr>
  </thead>
  <tbody>
    {{range .Certificates}}
      <tr>
        <td>
          <a href="#">{{.Subject.CommonName}}</a>
        </td>
        <td>{{.NotBefore}}</td>
        <td>{{.NotAfter}}</td>
      </tr>
    {{end}}
  </tbody>
</table>
<div class="buttons">
  <a href="/new" class="button">Create New</a>
</div>
{{end}}
