{% extends "templates/base.html" %}

{% block title %}Root Certificates{% endblock %}

{% block header %}
<h2>Root Certificates</h2>
<div>
  View root certificates currently managed by Certy
</div>
{% endblock %}

{% block content %}
<p class="text-muted">
  Root certificates form the basis of trust. When properly installed, these certificates and any others signed by them are implicitly trusted by a device.
</p>
{% import 'templates/macros/table.html' ref_table %}
{{ ref_table("", refs) }}
{% endblock %}
