{% extends "templates/base.html" %}

{% block title %}Root Certificates{% endblock %}

{% block header %}
<div class="title">Root Certificates</div>
<div class="desc">
  View root certificates currently managed by Certy
</div>
{% endblock %}

{% block content %}
<div class="muted">
  Root certificates form the basis of trust. When properly installed, these certificates and any others signed by them are implicitly trusted by a device.
</div>
{% import 'templates/macros/table.html' ref_table %}
{{ ref_table("", refs) }}
{% endblock %}
