{% extends "templates/base.html" %}

{% block title %}Create New CA{% endblock %}

{% block content %}
<div class="heading">Create New CA</div>
<form method="post">
  <label>
    Common name:<br />
    <input type="text" name="common_name" />
  </label>
  <label>
    Organization:<br />
    <input type="text" name="organization" />
  </label>
  <label>
    Country:<br />
    <input type="text" name="country" />
  </label>
  <div class="buttons">
    <button type="submit" class="button">Create</button>
  </div>
</form>
{% endblock %}
