{% extends "templates/base.html" %}

{% block title %}Create New CA{% endblock %}

{% block content %}
<div class="heading">Create New CA</div>
<form method="post">
  <label>
    Common name:
    <input type="text" name="common_name" />
  </label>
  <label>
    Organization:
    <input type="text" name="organization" />
  </label>
  <label>
    Country:
    <input type="text" name="country" />
  </label>
  <label>
    Validity
    <select name="validity" value="5y">
      <option value="90d">90 days</option>
      <option value="1y">1 year</option>
      <option value="2y">2 years</option>
      <option value="3y">3 years</option>
      <option value="5y">5 years</option>
      <option value="10y">10 years</option>
    </select>
  </label>
  <div class="buttons">
    <button type="submit" class="button">Create</button>
  </div>
</form>
{% endblock %}
