{% extends "templates/base.html" %}

{% block title %}{{ certificate.Subject.CommonName }}{% endblock %}

{% block content %}
<div class="heading">{{ certificate.Subject.CommonName }}</div>
<table class="table bordered">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Version:</th>
      <td>{{ certificate.Version }}</td>
    </tr>
    <tr>
      <th>Serial Number:</th>
      <td>{{ certificate.SerialNumber }}</td>
    </tr>
    <tr>
      <th>Signature Algorithm:</th>
      <td>{{ certificate.SignatureAlgorithm }}</td>
    </tr>
    <tr>
      <th>Not Before:</th>
      <td>{{ certificate.NotBefore | formatDate }}</td>
    </tr>
    <tr>
      <th>Not After:</th>
      <td>{{ certificate.NotAfter | formatDate }}</td>
    </tr>
    <tr>
      <th>Subject Key ID:</th>
      <td>{{ certificate.SubjectKeyId | formatBytes }}</td>
    </tr>
  </tbody>
</table>
<div class="heading">Certificates</div>
{% import 'templates/macros/entries.html' entry_table %}
{{ entry_table("/" + name + "/", entries) }}
<div class="buttons">
  <a href="/{{ name }}/new" class="button">Create New</a>
  <a href="/{{ name }}/import" class="button">Import CSR</a>
</div>
{% endblock %}
