* {
  box-sizing: border-box;
}

/* Base variables */

:root {
  --color-panel: #ffffff;
  --color-bg: #e0e0e0;
  --color-fg: #000000;
  --color-primary: #4080c0;
  --color-primary-light: #70a0d0;
  --color-danger: #c04040;
  --color-muted: #808080;

  --padding-control: 8px 24px;
  --padding-control-sm: 8px 12px;
  --padding-panel: 16px 0;
  --padding-panel-lg: 32px 0;

  --spacing-elements: 16px;
  --spacing-elements-sm: 8px;
  --spacing-elements-lg: 32px;
}

/* Element styles */

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-light);
}

/* Page class styles */

.header {
  background-color: var(--color-primary);
  color: var(--color-panel);
  margin-bottom: var(--spacing-elements-lg);
  padding: var(--padding-panel-lg);
}

.header .title {
  font-size: 18pt;
}

.header .desc {
  opacity: 0.5;
}

.navbar {
  background-color: var(--color-panel);
  font-size: 10pt;
  padding: var(--padding-panel);
}

.navbar .logo {
  font-size: 24pt;
}

.content .title {
  color: var(--color-fg);
  font-size: 18pt;
  margin-bottom: var(--spacing-elements);
}

.content .title .desc {
  color: var(--color-muted);
  font-size: initial;
}

/* Form class styles */

.button,
.input {
  border-style: solid;
  border-width: 2px;
}

.button:focus,
.input:focus {
  border-color: var(--color-fg) !important;
  outline: none;
}

.button {
  color: var(--color-panel) !important;
  cursor: pointer;
  font-size: inherit;
  padding: var(--padding-control);
}

.button.primary {
  background-color: var(--color-primary);
  border-color: transparent;
}

.button.primary:hover {
  background-color: var(--color-primary-light);
}

.buttons {
  column-gap: var(--spacing-elements);
  display: flex;
}

.input {
  border-color: var(--color-primary);
  display: block;
  padding: var(--padding-control-sm);
  width: 100%;
}

/* Table class styles */

.table {
  border-collapse: collapse;
}

.table.bordered {
  width: 100%;
}

.table th {
  text-align: left;
}

.table thead th {
  background-color: var(--color-primary);
  color: var(--color-panel);
}

.table tbody th {
  font-weight: bold;
}

.table thead th,
.table tbody th,
.table tbody td {
  border: 2px solid var(--color-primary);
  padding: var(--padding-control-sm);
}

.table .empty {
  padding: var(--padding-panel-lg);
  text-align: center;
}

/* Utility class styles */

.container {
  margin: auto var(--spacing-elements);
}

.elements {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-elements);
}

.elements.lg {
  row-gap: var(--spacing-elements-lg);
}

.error {
  color: var(--color-danger);
}

.line {
  background-color: var(--color-fg);
  height: 2px;
  margin: var(--spacing-elements-sm) 0;
}

.muted {
  color: var(--color-muted);
}

@media (min-width: 800px) {
  .container {
    margin: auto;
    width: 720px;
  }

  .input {
    width: 50%;
  }
}
