* {
  box-sizing: border-box;
}

:root {
  --color1: #f5eedc;
  --color2: #27548A;
  --color3: #183b4e;
  --color4: #dda853;
}

body {
  background-color: var(--color1);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: var(--color3);
}

a:hover {
  color: var(--color2);
}

input, select {
  border: 2px solid var(--color3);
  display: block;
  padding: 8px;
}

input, select, .button {
  font-size: 12pt;
}

label {
  display: block;
  margin: 8px 0;
}

.container {
  margin: auto 12px;
}

.button {
  background-color: var(--color3);
  border: none;
  color: var(--color1);
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--color2);
  color: var(--color1);
}

.buttons {
  margin: 16px 0;
}

.header {
  background-color: var(--color3);
  margin-bottom: 32px;
  padding: 16px 0;
}

.header .title {
  font-size: 24pt;
}

.header .title a {
  color: var(--color1);
  text-decoration: none;
}

.header .title a:hover {
  text-decoration: underline;
}

.heading {
  font-size: 18pt;
  margin-bottom: 16px;
}

.table {
  border-collapse: collapse;
  margin: 16px 0;
}

.table .empty {
  padding: 32px 0;
  text-align: center;
}

.table th {
  text-align: left;
}

.table th, .table td {
  padding: 4px 8px;
}

.table.bordered {
  width: 100%;
}

.table.bordered thead tr {
  background-color: var(--color3);
  color: var(--color1);
}

.table.bordered th, .table.bordered td {
  border: 2px solid var(--color3);
}

@media (min-width: 800px) {
  .container {
    margin: auto;
    width: 720px;
  }
}
