{# Display a text input #}
{% macro input(form, name, label, placeholder="", autofocus=false) export %}
  {% if autofocus %}
    {% set autofocus = "autofocus" %}
  {% else %}
    {% set autofocus = "" %}
  {% endif %}
  <label>
    {{ label }}:
    <input
      type="text"
      name="{{ name }}"
      placeholder="{{ placeholder }}"
      value="{{ form[name] }}"
      class="input"
      {{ autofocus }}
      />
  </label>
{% endmacro %}

{# Display a text input for entering a duration #}
{% macro duration(form, name, label) export %}
  {{ input(form, name, label, "e.g. 3y, 4w, 90d, etc.") }}
{% endmacro %}

{# Display a comma-separated list of domain names #}
{% macro domains(form, name, label) export %}
  <div>
    {{ input(form, name, label, "e.g. a.com, www.a.com, etc.") }}
    <div class="muted small">
      Most HTTP clients require all valid domain names to be listed here
    </div>
  </div>
{% endmacro %}

{# Display a checkbox #}
{% macro checkbox(form, name, label) export %}
  <label class="checkbox">
    <input
      type="checkbox"
      name="{{ name }}"
      value="true"
      {% if form[name] %}checked{% endif %}
      />
    {{ label }}
  </label>
{% endmacro %}
