{# Display a text input #}
{% macro input(form, name, label, placeholder="", autofocus=false, help="") export %}
  {% if autofocus %}
    {% set autofocus = "autofocus" %}
  {% else %}
    {% set autofocus = "" %}
  {% endif %}
  <div class="mb-3">
    <label for="{{ name }}" class="form-label">{{ label }}</label>
    <input
      type="text"
      name="{{ name }}"
      id="{{ name }}"
      placeholder="{{ placeholder }}"
      value="{{ form[name] }}"
      class="form-control"
      {{ autofocus }}
    />
    {% if help %}
    <div class="form-text">{{ help }}</div>
    {% endif %}
  </div>
{% endmacro %}

{# Display a text input for entering a duration #}
{% macro duration(form, name, label) export %}
  {{ input(form, name, label, "e.g. 3y, 4w, 90d, etc.") }}
{% endmacro %}

{# Display a comma-separated list of domain names #}
{% macro domains(form, name, label) export %}
  {{ input(form, name, label, "e.g. a.com, www.a.com, etc.", false, "Most HTTP clients require all valid domain names to be listed here") }}
{% endmacro %}

{# Display a checkbox #}
{% macro checkbox(form, name, label) export %}
  <div class="form-check">
    <input
      type="checkbox"
      name="{{ name }}"
      id="{{ name }}"
      value="true"
      class="form-check-input"
      {% if form[name] %}checked{% endif %}
      />
    <label class="form-check-label" for="{{ name }}">{{ label }}</label>
  </div>
{% endmacro %}
