{# Display a table of refs (fingerprint+certificates) #}
{% macro ref_table(prefix, refs) export %}
  {% if path %}
    {% set path = prefix + "/" %}
  {% endif %}
  <div class="elements">
    <table class="table">
      <thead>
        <tr>
          <th>Common Name</th>
          <th>Issued</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        {% for r in refs %}
          <tr>
            <th>
              <a href="/view?cert={{ path }}{{ r.ID }}">
                {{ r.X509.Subject.CommonName}}
              </a>
            </th>
            <td>{{ r.X509.NotBefore | formatDate }}</td>
            <td>{{ r.X509.NotAfter | formatDate }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" class="empty muted">No certificates!</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="buttons">
      <a href="/new?cert={{ prefix }}" class="button primary">Create New</a>
    </div>
  </div>
{% endmacro %}
