{# Display a table of refs (fingerprint+certificates) #}
{% macro ref_table(refs, path) export %}
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Common Name</th>
        <th>Is CA?</th>
        <th>Issued</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      {% for r in refs %}
        <tr>
          <th>
            <a href="/{{ r.Path }}">
              {{ r.X509.Subject.CommonName}}
            </a>
          </th>
          <td>
            {% if r.X509.IsCA %}
              <i class="bi bi-check"></i>
            {% else %}
              <i class="bi bi-x"></i>
            {% endif %}
          </td>
          <td>{{ r.X509.NotBefore | formatDate }}</td>
          <td>{{ r.X509.NotAfter | formatDate }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="py-4 text-muted text-center">No certificates, click "Create New" below to create a certificate.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% set prefix = "" %}
  {% if path %}
    {% set prefix = "/" + path %}
  {% endif %}
  <a href="{{ prefix }}/new" class="btn btn-primary">Create New</a>
{% endmacro %}
