<div class="card">
  <div class="card-header">Export</div>
  <div class="card-body">
    <p class="card-text">Use the buttons below to export the certificate and / or private key.</p>
    <div class="d-grid gap-2">
      {{ m_export(cert.Path, "cert_pem", "Certificate (PEM)") }}
      {{ m_export(cert.Path, "cert_der", "Certificate (DER)") }}
      {{ m_export(cert.Path, "cert_pkcs7", "Certificate (PKCS#7)") }}
      {% if cert.Parents|length > 1 %}
        {{ m_export(cert.Path, "chain_pem", "Certificate chain (PEM)") }}
      {% endif %}
      {% if cert.HasKey %}
        <a href="/{{ cert.Path }}/pkcs12" class="btn btn-primary">
          PKCS#12
        </a>
        {{ m_export(cert.Path, "pub_key", "Public key") }}
        {{ m_export(cert.Path, "priv_key", "Private Key") }}
      {% endif %}
    </div>
  </div>
</div>
