<div class="card">
  <div class="card-header">
    Certificate Information
  </div>
  <div class="card-body">
    <p class="card-text">
      The table below lists the properties of the X.509 certificate.
    </p>
    <table class="table">
      <tbody>
        <tr>
          <th>SHA-256 fingerprint:</th>
          <td title="{{ cert.Fingerprint }}">
            {{ cert.Fingerprint|truncatechars:20 }}&mldr;
          </td>
        </tr>
        <tr>
          <th>Serial</th>
          <td>{{ cert.X509.SerialNumber }}</td>
        </tr>
        <tr>
          <th>Common name:</th>
          <td>{{ certname(cert.X509.Subject) }}</td>
        </tr>
        <tr>
          <th>Issued by:</th>
          <td>{{ certname(cert.X509.Issuer) }}</td>
        </tr>
        <tr>
          <th>Valid from:</th>
          <td>{{ cert.X509.NotBefore | formatDate }}</td>
        </tr>
        <tr>
          <th>Valid to:</th>
          <td>
            <span{% if cert.IsExpired() %} class="text-danger"{% endif %}>
              {{ cert.X509.NotAfter | formatDate }}
            </span>
            <span class="text-muted">
              &nbsp;
              (duration: {{ cert.X509.NotAfter.Sub(cert.X509.NotBefore) | formatDuration }})
            </span>
          </td>
        </tr>
        <tr>
          <th>Certificate authority:</th>
          <td>
            {% if cert.X509.IsCA %}yes{% else %}no{% endif %}
          </td>
        </tr>
        <tr>
          <th>Key usage:</th>
          <td>
            {% for u in cert.KeyUsage() %}
              <div>{{ u }}</div>
            {% empty %}
              <span class="text-muted">none</span>
            {% endfor %}
          </td>
        </tr>
        {% if cert.X509.DNSNames %}
          <tr>
            <th>SANs:</th>
            <td>
              {% for n in cert.X509.DNSNames %}
                <div>{{ n }}</div>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    <form method="post" action="/validate?cert={{ path }}" class="buttons">
      <button type="submit" class="btn btn-primary">
        Validate
      </button>
    </form>
  </div>
</div>
