<div class="breadcrumbs">
  <div>Root</div>
  {% set p = "" %}
  {% for c in cert.Parents %}
    {% if p %}
      {% set p = p + "/" + c.ID %}
    {% else %}
      {% set p = c.ID %}
    {% endif %}
    <div>&raquo;</div>
    <a href="/view?cert={{ p }}">{{ c.X509.Subject.CommonName }}</a>
  {% endfor %}
  <div>&raquo;</div>
  {% if page %}
    <a href="/view?cert={{ path }}">
      {{ cert.X509.Subject.CommonName }}
    </a>
    <div>&raquo;</div>
    <div>{{ page }}</div>
  {% else %}
    <div>{{ cert.X509.Subject.CommonName }}</div>
  {% endif %}
</div>
