<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/img/favicon.png" alt="Logo" height="24" class="d-inline-block align-text-top">
      Certy
    </a>
    <div class="navbar-nav">
      <div class="nav-item">
        <div class="dropdown">
          <button
            class="btn btn-dark dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-sun"></i> &nbsp; / &nbsp;
            <i class="bi bi-moon"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item certy-toggle" data-certy-toggle="auto">Auto</a></li>
            <li><a class="dropdown-item certy-toggle" data-certy-toggle="light">Light</a></li>
            <li><a class="dropdown-item certy-toggle" data-certy-toggle="dark">Dark</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
